@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poppins:300,400,700|Rubik&display=swap');
* {
    --navy-blue: rgb(40, 44, 52);
    --nav: rgba(231, 233, 236, 0.875);
    --content: rgb(30, 35, 39);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', 'Poppins', 'Rubik', sans-serif;
    background: rgba(231, 233, 236, 0.375);
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 60px 1fr;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 880px) {
    /* body {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 60px 30px 1fr;
    }
*/
    body {
        display: flex;
    }
}

#main-header {
    grid-column-start: 1;
    grid-column-end: 3;
    background: rgb(40, 44, 52);
}

.header-container {
    position: fixed;
    padding-left: 40px;
    margin: auto 0;
    width: 100%;
    background: var(--navy-blue);
}

.header-container a {
    text-decoration: none;
    vertical-align: middle;
    margin: auto 0;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.header-container a header {
    padding-left: 10px;
    /*padding-top: 10px;
    font-size: 1.2em;*/
    color: rgb(79, 163, 189);
    font-weight: 500;
}

a#header {
    font-size: 1.5em;
    font-weight: 800;
}

.docu {
    color: white;
    font-weight: 200;
}

nav {
    width: 300px;
    height: 100%;
    background: rgba(231, 233, 236, 0.875);
}

#nav-container {
    text-align: right;
    padding-top: 40px;
    position: fixed;
}

#nav-container a {
    display: block;
    padding: 10px 0;
    text-decoration-style: none;
    color: rgb(30, 35, 39);
    text-decoration: none;
    padding-right: 5px;
    margin-left: 20px;
}


/* SIDE NAVIGATION end*/

@media screen and (max-width: 880px) {
    #navbar {
        display: none;
    }
    .sidenav {
        height: 100%;
        /* 100% Full-height */
        width: 0;
        /* 0 width - change this with JavaScript */
        position: fixed;
        /* Stay in place */
        z-index: 1;
        /* Stay on top */
        top: 0;
        left: 0;
        background-color: var(--nav, #000);
        /* Black*/
        overflow-x: hidden;
        /* Disable horizontal scroll */
        padding-top: 60px;
        /* Place content 60px from the top */
        transition: 0.5s;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 18px;
        color: var(--content, #818181);
        display: block;
        transition: 0.3s;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 20px;
        font-size: 30px;
    }
    span.opennav {
        height: 40px;
        color: white;
        position: fixed;
        right: 1rem;
        font-size: 30px;
    }
}

@media screen and (min-width: 880px) {
    div.sidenav {
        display: none;
    }
    span.opennav {
        display: none;
    }
}

@media screen and (max-width: 380px) {
    span.opennav {
        right: 5px;
    }
}

@media screen and (max-width: 356px) {
    span.opennav {
        right: 5px;
    }
}


/* SIDE NAVIGATION end*/

#main-doc {
    padding: 0 50px 0 50px;
}

@media screen and (max-width: 880px) {
    #main-doc {
        transition: margin-left .5s;
    }
}

.section-header {
    font-family: 'Rubik', sans-serif;
    font-size: 3.5em;
    color: var(--navy-blue, rgb(0, 0, 0));
    font-weight: bolder;
}

section {
    padding-top: 40px;
}

@media screen and (max-width: 460px) {
    section {
        width: 80%;
    }
}

@media screen and (max-width: 360px) {
    section {
        width: 80%;
    }
}

section#helloWorld {
    padding-top: 40px;
}

.section-header,
p,
.code,
h2 {
    padding: 15px 0 15px 0;
}

h2 {
    border-top: 1px solid rgba(201, 199, 199, 0.4);
}

.code,
code {
    background: var(--navy-blue);
    color: white;
    border-radius: 50px;
    display: block;
    width: 100%;
}

code {
    padding: 1rem;
    width: 80%;
}